 body, html {
    padding: 0;
    margin: 0;
    background-color: black;
}



/* .loading {
    height: 50vh;
    background: black;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
} */
