.pagination-controls {
  background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .pagination-controls button {
    margin: 0 10rem;
    border: none;
    font-size: 1rem;
  }