.movie-card {
    background-color: rgb(240, 233, 233); /* Fondo de la tarjeta */
    padding: 0.5rem; /* Espaciado interno */
    border-radius: 8px; 
  }
  
  .movie-card img {
    max-width: 70%; /* (ancho) Asegura que la imagen no sobrepase el ancho de la tarjeta */
    height: 60%; /* (altura) Mantiene la proporción de la imagen */
  }
  
  .movie-card h3 {
    margin-top: 0.5rem;
    font-size: 1.2 rem;
  }
  
  .movie-card p {
    margin-top: 0.1rem;
    font-size: 0.8rem; /* Tamaño de la fecha */
   }